<h2>RISK-analysis period from {{this.startDate}} to {{this.finishDate}}</h2>
<p>(Dates are taken from the downloaded file)</p>

<h3>Analyzing the report data for the specified period, we get the following results</h3>
<p class="depositValue">Deposit: {{this.personDeposit}} $</p>
<p class="withdrawValue">Withdraw: {{this.personWithdraw}} $</p>
<hr>
<div class="creditPart">
<button mat-raised-button color="accent" (click)="this.credit()">Credit availability</button>
<p class="creditDecision">{{this.creditAvailable}}</p>
</div>
